html {
    body {
        background-color: rgb(241, 237, 237);
        
        div#root {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}